@model NogaShoesPOS.Models.Cash

@{
    ViewData["Title"] = "Edit Cash";
}

<h2>Edit Cash</h2>

<h4>Cash</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">

            <div class="form-group">
                <label asp-for="CashSerial" class="control-label"></label>
                <input asp-for="CashSerial" class="form-control" />
                <span asp-validation-for="CashSerial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cashier" class="control-label"></label>
                <input asp-for="Cashier" class="form-control" />
                <span asp-validation-for="Cashier" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
